.default__button {
    width: max-content;
    padding: var(--gap-4) var(--gap-1);
    background-color: var(--color-primary);
    color: var(--color-white-fixed);
    border-radius: var(--radius-2);
    border: none;
    font-size: var(--font-text-2);
    font-weight: var(--font-weight-3);
    cursor: pointer;
}

.default__button:hover {
    background-color: var(--color-primary-Hover);
}